.place__text {
    grid-row: 2/3;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
    margin: 0 auto;
}

@media (max-width: 1023px) {
    .place__text {
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    .place__text {
        grid-column: 1;
        grid-row: 4;
        width: 90%;
    }
}