.place__link-heading {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    color: #AAAAAA;
    margin: 0;
    text-transform: uppercase;
}

@media (max-width: 1023px) {
    .place__link-heading {
        line-height: 12px;
    }
}