.root {
    background-color: #2A2C2F;
    max-width: 1280px;
    min-width: 320px;
    margin: 0 auto;
}

@media (max-width: 1279px) {
    .root {
        max-width: 1024px;
    }

    .header {
        max-width: 928px;
    }

    .content {
        padding: 48px 0 0 0;
    }

    .lead {
        max-width: 928px;
    }

    .lead__subtitle {
        margin: 32px auto 56px;
    }

    .intro {
        max-width: 928px;
    }

    .photo-grid {
        max-width: 928px;
        gap: 14px;
    }

    .places {
        max-width: 928px;
    }

    .place {
        grid-template-columns: 440px 1fr;
        column-gap: 32px;
    }

    .cover__link {
        max-width: 1024px;
        min-height: 640px;
    }

    .footer {
        max-width: 928px;
    }
}

@media (max-width: 1023px) {
    .root {
        max-width: 768px;
    }

    .header {
        max-width: 720px;
    }

    .lead__image-wrapper {
        max-width: 768px;
    }

    .lead__caption {
        max-width: 720px;
    }

    .intro {
        max-width: 720px;
    }

    .photo-grid {
        max-width: 720px;
    }

    .places {
        max-width: 720px;
    }

    .place {
        grid-template-columns: 340px 1fr;
        column-gap: 28px;
    }

    .place__title {
        font-size: 42px;
        line-height: 46px;
    }

    .place__link-heading {
        line-height: 12px;
    }

    .place__text {
        font-size: 16px;
    }

    .cover__link {
        min-height: 480px;
    }

    .footer {
        max-width: 720px;
    }

}

@media (max-width: 767px) {
    
    .header {
        margin: 16px auto 0;
        width: 90%;
    }

    .lead__title {
        font-size: 40px;
        line-height: 44px;
        width: 90%;
    }

    .lead__subtitle {
        margin: 16px auto 40px;
        font-size: 16px;
        line-height: 20px;
        width: 90%;
    }

    .lead__caption {
        width: 90%;
    }

    .intro {
        padding-top: 64px;
        width: 90%;
    }

    .intro__title {
        font-size: 32px;
        line-height: 35px;
    }

    .photo-grid {
        padding: 64px 0;
        width: 90%;
        gap: 12px;
    }

    .places {
        width: 100%;
        gap: 50px;
    }

    .place {
        grid-template-columns: 1fr;
    }

    .place__title {
        font-size: 32px;
        line-height: 35px;
        width: 90%;
        margin: auto;
    }

    .place__link-container {
        grid-column: 1;
        grid-row: 2;
        width: 90%;
        margin: 32px auto;
    }

    .place__image {
        grid-row: 3;
    }

    .place__text {
        grid-column: 1;
        grid-row: 4;
        width: 90%;
        margin: 32px auto 25px;
    }

    .place__text:nth-of-type(2) {
        grid-column: 1;
        grid-row: 5;
        margin: auto;
    }

    .cover {
        margin-bottom: 64px;
    }

    .cover__link {
        min-height: 200px;
    }

    .cover__title {
        font-size: 32px;
        line-height: 35px;
        width: 90%;
    }

    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        width: 90%;
        margin: 16px auto 0;
    }

    .footer {
        max-width: 186px;
        margin: 64px auto 0 16px;
        flex-direction: column;
        align-items: flex-start;
    }

    .footer__links {
        flex-direction: column;
        gap: 32px;
        margin: 0 0 48px 0;
    }

    .footer__link {
        font-size: 24px;
        line-height: 24px;
    }

    .footer__copyright {
        font-size: 14px;
        line-height: 14px;
        align-self: inherit;
    }
}